CONFIG_PACKAGE_luci-app-xmodem-next=m
CONFIG_PACKAGE_luci-app-lpac=m
CONFIG_PACKAGE_xmodem-esim-bot=m
CONFIG_PACKAGE_lpac=m
CONFIG_PACKAGE_xmodem=m
CONFIG_PACKAGE_modem_scan=m
CONFIG_PACKAGE_tom_modem=m
CONFIG_PACKAGE_tom_modem_EARLY_RETURN=y
CONFIG_PACKAGE_tom_modem_ENABLE_UBUS_DAEMON=y
CONFIG_PACKAGE_ubus-at-daemon=m
CONFIG_PACKAGE_sms-tool_q=m
CONFIG_PACKAGE_sms-forwarder-next=m
CONFIG_PACKAGE_ndisc6=m
